@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 2.8vh;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo{
  margin-top: -50px;
}

.border-text-white{
  color: #001aff;
  -webkit-text-stroke: 1px #fff;
  
  /* text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
  -moz-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
  -webkit-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF; */
}
.border-text-black{
  color: #FFF;
  -webkit-text-stroke: 3px #000;
  
  /* text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
  -moz-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
  -webkit-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF; */
}
@layer components{
  .border-text-white-white{
    color: #000;
    -webkit-text-stroke: 2px #fff;
    /* text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    -moz-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    -webkit-text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF; */
  }
  .back{
    z-index: -1;
    height: 0.83em;
    /* max-height: 0; */
    transition:height .6s linear,transform .6s cubic-bezier(.31,.15,.61,.38);
    position: absolute;
    bottom: -0.2em;
    z-index: 0;
    /* transform: translateY(0.9375rem); */
  }

}







