@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 2.8vh;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wave{
  margin-top: -30px;
  height: 50px;
}
.logo{
  margin-top: -100px;
}

#logo{
  border-radius: 100%;
}


@layer components{
  .border-text-white{
    color: #001aff;
    -webkit-text-stroke: 1px #fff;
  }

  .border-text-black{
    color: #FFF;
    -webkit-text-stroke: 3px #000;
  } 

  .border-text-white-white{
    color: #000;
    -webkit-text-stroke: 2px #fff;
  }
 
  
}

/* cursor */
.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}